force-app/main/default/flows/Bo_Report_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BO_Report_SDSAE</name>
        <label>BO Report SDSAE</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>User.BO_Report_SDSAE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BO_Report_SDSEG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BO_Report_SDSEG</name>
        <label>BO Report SDSEG</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>User.BO_Report_SDSEG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BO_Report_SDSI_CNL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BO_Report_SDSI_CNL</name>
        <label>BO Report SDSI-CNL</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>User.BO_Report_SDSI_CNL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BO_Report_SDSI_NDL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BO_Report_SDSI_NDL</name>
        <label>BO Report SDSI-NDL</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <actionName>User.BO_Report_SDSI_NDL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BO_Report_SDSTR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BO_Report_SDSTR</name>
        <label>BO Report SDSTR</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <actionName>User.BO_Report_SDSTR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BO_Report_SDSZA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BO_Report_SDSZA</name>
        <label>BO Report SDSZA</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <actionName>User.BO_Report_SDSZA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Schedule at 6:00 PM KST every Friday
Sending Different BO Reports</description>
    <environments>Default</environments>
    <interviewLabel>Bo Report Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bo Report Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BO_Report_SDSAE</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-06-30</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
