force-app/main/default/flows/Credit_Member_Points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Non_Qualifying_Points_Based_on_Order_Amount</name>
        <label>Credit Non-Qualifying Points Based on Order Amount</label>
        <locationX>554</locationX>
        <locationY>229</locationY>
        <actionName>creditPointsNotFound</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Credit_Qualifying_Points_to_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>InputTransactionJournal.Id__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>InputTransactionJournal.MemberId__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>InputTransactionJournal.TransactionAmount__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>프로모션 크레딧</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Credit_Qualifying_Points_to_Member</name>
        <label>Credit Qualifying Points to Member</label>
        <locationX>555</locationX>
        <locationY>403</locationY>
        <actionName>creditPointsNotFound</actionName>
        <actionType>creditPoints</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>InputTransactionJournal.Id__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>InputTransactionJournal.MemberId__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>InputTransactionJournal.TransactionAmount__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PointsExpirationDate</name>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>등급 포인트</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Credit Member Points {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Member Points</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>427</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Credit_Non_Qualifying_Points_Based_on_Order_Amount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputTransactionJournal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal__NotFound</objectType>
    </variables>
</Flow>
