force-app/main/default/flows/Enrollment_Bonus_for_New_Partner_Network.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_Enrollment_Bonus</name>
        <label>Credit Enrollment Bonus</label>
        <locationX>986</locationX>
        <locationY>397</locationY>
        <actionName>creditPointsNotFound</actionName>
        <actionType>creditPoints</actionType>
        <connector>
            <targetReference>Issue_Voucher_to_New_Member</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>JournalId</name>
            <value>
                <elementReference>New_Transaction_for_Enrollment_Bonus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Id__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Points</name>
            <value>
                <elementReference>enrollmentbonus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramCurrencyName</name>
            <value>
                <stringValue>프로모션 크레딧</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Issue_Voucher_to_New_Member</name>
        <label>Issue Voucher to New Member</label>
        <locationX>1190</locationX>
        <locationY>391</locationY>
        <actionName>issueVoucherNotFound</actionName>
        <actionType>issueVoucher</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>$Record.Id__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCode</name>
            <value>
                <elementReference>New_Transaction_for_Enrollment_Bonus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionName</name>
            <value>
                <stringValue>2% discount</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>enrollmentbonus</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1000000.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Enrollment Bonus for New Partner Network {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Bonus for New Partner Network</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Transaction_for_Enrollment_Bonus</name>
        <label>New Transaction for Enrollment Bonus</label>
        <locationX>811</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Credit_Enrollment_Bonus</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate__NotFound</field>
            <value>
                <elementReference>$Record.EnrollmentDate__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalDate__NotFound</field>
            <value>
                <elementReference>$Record.CreatedDate__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId__NotFound</field>
            <value>
                <elementReference>Get_Journal_Subtype.Id__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId__NotFound</field>
            <value>
                <elementReference>Get_Journal_Type.Id__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId__NotFound</field>
            <value>
                <elementReference>$Record.Id__NotFound</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal__NotFound</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal_Subtype</name>
        <label>Get Journal Subtype</label>
        <locationX>620</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Transaction_for_Enrollment_Bonus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment Bonus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType__NotFound</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journal_Type</name>
        <label>Get Journal Type</label>
        <locationX>444</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Journal_Subtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accrual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType__NotFound</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>427</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Journal_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberStatus__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProgramId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0lp1s0000004C93AAE</stringValue>
            </value>
        </filters>
        <object>LoyaltyProgramMember__NotFound</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
