force-app/main/default/flows/OpportunityClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetPermission</name>
        <label>Get Permission</label>
        <locationX>172</locationX>
        <locationY>166</locationY>
        <actionName>Flow_OpportunityCheckPermission</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckOpptyPermission</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>CanCreateOppty</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>JumpToNewOpportunity</name>
        <label>Jump To New Opportunity</label>
        <locationX>887</locationX>
        <locationY>678</locationY>
        <actionName>c:flowToSObjectRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newOppty.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CopyToNewOpportunity</name>
        <label>Copy To New Opportunity</label>
        <locationX>934</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>newOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpptyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpptyName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpptyName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.OPPTY_CLONE_NAME_FALG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetNewOpportunityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetNewOpportunityValue</name>
        <label>Reset New Opportunity Value</label>
        <locationX>924</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>newOppty.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenNewOppotunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Z01</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenNewOpportunityAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenNewOpportunityCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.CloneHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneHistoryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.OpportunityCode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.CustDivision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.CustDivision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.SalesDepartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.SalesDepartment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOppty.SalesOrganization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppty.SalesOrganization__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DetermineCloneType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>screenSetParentOpportunity</name>
        <label>Set Parent Opportunity</label>
        <locationX>1146</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>newOppty.ParentOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveNewOpportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>screenTypeChild</name>
        <choiceText>Child</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>typeChild</stringValue>
        </value>
    </choices>
    <choices>
        <name>screenTypeClone</name>
        <choiceText>Clone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>typeClone</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Primary_Sales_Department</name>
        <label>Check Primary Sales Department</label>
        <locationX>1256</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>CloneError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Primary_Sales_Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cannot be cloned. Please check the &apos;Primary Sales Department&apos; information.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrimarySalesDepartmentValidity</targetReference>
            </connector>
            <label>Invalid Primary Sales Department</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOpptyPermission</name>
        <label>Check Oppty Permission</label>
        <locationX>163</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>dialogNotPermitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreatable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanCreateOppty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectCloneType</targetReference>
            </connector>
            <label>IsCreatable</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetermineCloneType</name>
        <label>Determine Clone Type</label>
        <locationX>925</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>SaveNewOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clone Type</defaultConnectorLabel>
        <rules>
            <name>ChildType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenCloneType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>screenTypeChild</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSetParentOpportunity</targetReference>
            </connector>
            <label>Child Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility</name>
        <label>Eligibility</label>
        <locationX>534</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_RecordType_Logistics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecorTypeId.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryOpportunity</targetReference>
            </connector>
            <label>if RecordType Logistics</label>
        </rules>
        <rules>
            <name>If_recordType_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecorTypeId.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getHQRecords</targetReference>
            </connector>
            <label>If recordType HQ</label>
        </rules>
    </decisions>
    <description>(2022-08-29)Clone시 BO 운영배포 후, 필드 정리 (Updated V1)</description>
    <environments>Default</environments>
    <formulas>
        <name>CloneHistoryCode</name>
        <dataType>String</dataType>
        <expression>{!newOppty.CloneHistory__c} + &apos;::&apos; + {!newOppty.OpportunityCode__c}</expression>
    </formulas>
    <interviewLabel>Opportunity Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SaveNewOpportunity</name>
        <label>Save New Opportunity</label>
        <locationX>1064</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Primary_Sales_Department</targetReference>
        </faultConnector>
        <inputReference>newOppty</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getHQRecords</name>
        <label>getHQRecords</label>
        <locationX>733</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CopyToNewOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>newOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ActivityStatus__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloneHistory__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>cOriginAcc__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>SalesDepartment__c</queriedFields>
        <queriedFields>SalesOrganization__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>OpportunityCode__c</queriedFields>
        <queriedFields>CustDivision__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityTypeId</name>
        <label>getOpportunityTypeId</label>
        <locationX>290</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecorTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecorTypeId</name>
        <label>getRecorTypeId</label>
        <locationX>402</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunityTypeId.RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueryOpportunity</name>
        <label>Query Opportunity</label>
        <locationX>733</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CopyToNewOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>newOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ActivityStatus__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloneHistory__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>cOriginAcc__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>CustDivision__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>SalesDepartment__c</queriedFields>
        <queriedFields>SalesOrganization__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>OpportunityCode__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>LogisticsBizDevelopmentType__c</queriedFields>
        <queriedFields>LogisticsCustomerType__c</queriedFields>
        <queriedFields>SubIndusrty__c</queriedFields>
        <queriedFields>DeliveryOrganization__c</queriedFields>
        <queriedFields>From_RHQ1__c</queriedFields>
        <queriedFields>To_Country1__c</queriedFields>
        <queriedFields>From_Country1__c</queriedFields>
        <queriedFields>To_RHQ_1__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CloneError</name>
        <label>Clone Error</label>
        <locationX>1265</locationX>
        <locationY>494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Sorry, but you can’t clone opportunity at this time.
Please ask administrator with this error message:
{!$Flow.FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>dialogNotPermitted</name>
        <label>Dialog NotPermitted</label>
        <locationX>788</locationX>
        <locationY>301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblNotPermitted</name>
            <fieldText>&lt;p&gt;You don&apos;t have permission to clone.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>1064</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>JumpToNewOpportunity</targetReference>
        </connector>
        <fields>
            <name>screenCompleteLabel</name>
            <fieldText>&lt;p&gt;{!$Label.OPPTY_CLONE_COMPLETED}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PrimarySalesDepartmentValidity</name>
        <label>Primary Sales Department Validity</label>
        <locationX>1552</locationX>
        <locationY>283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrimarySalesDepartmentError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;Cannot be cloned. Please check the &apos;Primary Sales Department&apos; information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCloneType</name>
        <label>Select Clone Type</label>
        <locationX>167</locationX>
        <locationY>476</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpportunityTypeId</targetReference>
        </connector>
        <fields>
            <name>screenCloneType</name>
            <choiceReferences>screenTypeClone</choiceReferences>
            <choiceReferences>screenTypeChild</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>screenTypeClone</defaultSelectedChoiceReference>
            <fieldText>Select Clone Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SetNewOpportunityValue</name>
        <label>Set New Value</label>
        <locationX>920</locationX>
        <locationY>364</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResetNewOpportunityValue</targetReference>
        </connector>
        <fields>
            <name>screenNewOppotunityName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newOpptyName</elementReference>
            </defaultValue>
            <fieldText>New Oppotunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenNewOpportunityCloseDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>newOppty.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Expected Contract Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenNewOpportunityAmount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>GetPermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CanCreateOppty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ItemNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>newOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newOpptyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newOppty.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>newService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>newSolutions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solution__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReviewBOActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Activity__c</objectType>
    </variables>
</Flow>
