force-app/main/default/flows/Partner_T_C_Uncheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>DoesRecordExist</name>
        <label>DoesRecordExist</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CannotUncheckRecord_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRecordExists</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCheckedRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UncheckCurrentRecord_0</targetReference>
            </connector>
            <label>RecordExists</label>
        </rules>
    </decisions>
    <interviewLabel>Partner T&amp;C Uncheck {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner T&amp;C Uncheck</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCheckedRecords</name>
        <label>GetCheckedRecords</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>T_C_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.T_C_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>T_C_Use__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.T_C_Use__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_T_C_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CannotUncheckRecord_0</name>
        <label>CannotUncheckRecord</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Cannot_Uncheck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UncheckCurrentRecord_0</name>
        <label>UncheckCurrentRecord</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>isActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCheckedRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Partner_T_C_Master__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
