force-app/main/default/flows/SalesLeadClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>JumpToNewSalesLead</name>
        <label>Jump To New SalesLead</label>
        <locationX>71</locationX>
        <locationY>400</locationY>
        <actionName>c:flowToSObjectRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newSalesLead.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CopySalesLead</name>
        <label>Copy SalesLead</label>
        <locationX>304</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>newSalesLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuerySalesLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLeadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuerySalesLead.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLeadName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLeadName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.OPPTY_CLONE_NAME_FALG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CloneSalesLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewSalesLeadValue</name>
        <label>Set New SalesLead Value</label>
        <locationX>304</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>newSalesLead.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLead.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenSalesLeadName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLead.LeadStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLead.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLead.CloseDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLead.OpportunityName__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSalesLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveNewSalesLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckConvertedLead</name>
        <label>Check Converted Lead</label>
        <locationX>297</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>CloneError4ConvertedLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotConverted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuerySalesLead.IsConverted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CopySalesLead</targetReference>
            </connector>
            <label>Not Converted</label>
        </rules>
    </decisions>
    <interviewLabel>Sales Lead Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Lead Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SaveNewSalesLead</name>
        <label>Save New SalesLead</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CloneError</targetReference>
        </faultConnector>
        <inputReference>newSalesLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>QuerySalesLead</name>
        <label>Query SalesLead</label>
        <locationX>176</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckConvertedLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CloneError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CloneError</name>
        <label>Clone Error</label>
        <locationX>177</locationX>
        <locationY>394</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Sorry, but you can&apos;t clone sales lead at this time.
Please ask administrator with this error message:
{!$Flow.FaultMessage}
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CloneError4ConvertedLead</name>
        <label>Clone Error</label>
        <locationX>439</locationX>
        <locationY>195</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage4ConvertedLead</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Can not clone converted lead.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloneSalesLead</name>
        <label>Clone Sales Lead</label>
        <locationX>304</locationX>
        <locationY>514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetNewSalesLeadValue</targetReference>
        </connector>
        <fields>
            <name>screenSalesLeadName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>newSalesLeadName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>70</locationX>
        <locationY>522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>JumpToNewSalesLead</targetReference>
        </connector>
        <fields>
            <name>screenCompleteLabel</name>
            <fieldText>&lt;p&gt;Clone Completed. Press &quot;Next&quot; button to move cloned lead.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>QuerySalesLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newSalesLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Lead__c</objectType>
    </variables>
    <variables>
        <name>newSalesLeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
