force-app/main/default/flows/Tier_Upgrade_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_to_Advanced_Tier</name>
        <label>Change to Advanced Tier</label>
        <locationX>1704</locationX>
        <locationY>203</locationY>
        <actionName>changeTierNotFound</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Target_Member.00N1s000002Pl37__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Advanced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Partner Pgm 2.0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_To_Partner_Tier</name>
        <label>Change To Partner Tier</label>
        <locationX>1704</locationX>
        <locationY>50</locationY>
        <actionName>changeTierNotFound</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Target_Member.00N1s000002Pl37__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Partner Pgm 2.0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_to_Premier_Tier</name>
        <label>Change to Premier Tier</label>
        <locationX>1689</locationX>
        <locationY>383</locationY>
        <actionName>changeTierNotFound</actionName>
        <actionType>changeTier</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>Get_Target_Member.00N1s000002Pl37__NotFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <stringValue>Partner Network 2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetTierName</name>
            <value>
                <stringValue>Premier</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TierGroupName</name>
            <value>
                <stringValue>Partner Pgm 2.0</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Current_tier_less_than_Advanced</name>
        <label>Check Current tier less than Advanced</label>
        <locationX>1488</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Tier_Advanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Target_Member.00N1s000002Pl3H__NotFound.SequenceNumber</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Advanced_Tier</targetReference>
            </connector>
            <label>Current Tier &lt; Advanced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_tier_Less_than_Partner</name>
        <label>Check Current tier Less than Partner</label>
        <locationX>1484</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Tier_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Target_Member.00N1s000002Pl3H__NotFound.SequenceNumber</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_To_Partner_Tier</targetReference>
            </connector>
            <label>Current Tier &lt; Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_QP_Balance</name>
        <label>Check QP Balance</label>
        <locationX>1263</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Target_Member.Current_QP_balance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_tier_Less_than_Partner</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Advanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Target_Member.Current_QP_balance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_tier_less_than_Advanced</targetReference>
            </connector>
            <label>Advanced</label>
        </rules>
        <rules>
            <name>Premier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Target_Member.Current_QP_balance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Tier_Premier</targetReference>
            </connector>
            <label>Premier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Tier_Premier</name>
        <label>Check Current tier less than Premier</label>
        <locationX>1486</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Tier_Premier1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Target_Member.00N1s000002Pl3H__NotFound.SequenceNumber</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Premier_Tier</targetReference>
            </connector>
            <label>Current Tier &lt; Premier</label>
        </rules>
    </decisions>
    <description>등급 업그레이드 Flow</description>
    <environments>Default</environments>
    <interviewLabel>Tier Upgrade Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tier Upgrade Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Target_Member</name>
        <label>Get Target Member</label>
        <locationX>1116</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_QP_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tier_Upgrade_Target_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1999</locationX>
        <locationY>163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>Tier_Upgrade_Target_Member__c</object>
    </recordUpdates>
    <start>
        <locationX>755</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Get_Target_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
